<div class="card">
        <h3>Billing Address</h3>
        <input type="text" id="fname" name="firstname" placeholder="First and Last Name">
        <input type="text" id="email" name="email" placeholder="E-Mail Address">
        <input type="text" id="adr" name="address" placeholder="Physical Address">
        <input type="text" id="city" name="city" placeholder="City">
        <input type="text" id="state" name="state" placeholder="State">
        <input type="text" id="zip" name="zip" placeholder="Zip Code">

        <h3>Shipping Address</h3>
        <input type="text" id="fname" name="firstname" placeholder="First and Last Name">
        <input type="text" id="email" name="email" placeholder="E-Mail Address">
        <input type="text" id="adr" name="address" placeholder="Physical Address">
        <input type="text" id="city" name="city" placeholder="City">
        <input type="text" id="state" name="state" placeholder="State">
        <input type="text" id="zip" name="zip" placeholder="Zip Code">


        <h3>Billing Information</h3>
        <input type="text" id="cname" name="cardname" placeholder="First and Last Name">
        <input type="text" id="ccnum" name="cardnumber" placeholder="Card Number">
        <input type="text" id="expmonth" name="expmonth" placeholder="Expiration Date MM/YYYY">

        <a routerLink="/ordered"><button class="button"> Place Order </button></a>
</div>