<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<div class="card">
    <div class="card__title">
        <div id="mytable">
                <table class="table">
                <thead>
                    <th id="heading" scope="col">TEST ITEMS CART</th>
                    <th scope="col">Item</th>
                    <th scope="col">Price</th>
                    <th scope="col"></th>
                </thead>

                <tbody>
                    <td><img id="thumb" src="https://i.imgur.com/fUwVjdB.jpg" alt=""></td>
                    <td>Screen Used Lightsaber from Empire Strikes Back, Used to cut off Luke's hand.</td>
                    <td>$21,000.00</td>
                    <td><button class="btn-warning"> REMOVE</button></td>
                </tbody>

                <tbody>
                        <td><img id="thumb" src="https://i.imgur.com/66w5EI4.jpg" alt=""></td>
                        <td>VROOM VROOM <b>VROOOOOOM</b></td>
                        <td>$21,000.00</td>
                        <td><button class="btn-warning"> REMOVE</button></td>
                </tbody>

                <tbody>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><a routerLink="/checkout"><button class="button">Checkout</button></a></td>
                </tbody>
            </table>
</div>


