.card{
    box-shadow: 0 6px 6px rgba(#000, 0.1);
    transition: 200ms;
    background: #fff;
    
    .card__title{
      display: flex;
      align-items: center;
      padding: 30px 40px;
      
      h3{
        flex: 0 1 200px;
        text-align: right;
        margin: 0;
        color: #252525;
        font-family: sans-serif;
        font-weight: 600;
        font-size: 20px;
        text-transform: uppercase;
      }
      
      .icon{
        flex: 1 0 10px;
        background: #115dd8;
        color: #fff;
        padding: 10px 10px;
        transition: 200ms;
        
        > a{
          color: #fff;
        }
        
        &:hover{
          background: #252525;
        }
      }
    }
    
    .card__body{
      padding: 0 40px;
      display: flex;
      flex-flow: row no-wrap;
      margin-bottom: 25px;
      padding-bottom: 100px;
      
      > .half{
        box-sizing: border-box;
        padding: 0 15px;
        flex: 1 0 50%;
      }
      
      .featured_text{
        h1{
          margin: 0;
          padding: 0;
          font-weight: 800;
          font-family: "Montserrat", sans-serif;
          font-size: 64px;
          line-height: 50px;
          color: #181e28;
        }
        
        p{
          margin: 0;
          padding: 0;
          
          &.sub{
            font-family: "Montserrat", sans-serif;
            font-size: 26px;
            text-transform: uppercase;
            color: #686e77;
            font-weight: 300;
            margin-bottom: 5px;
          }
          
          &.price{
            font-family: "Fjalla One", sans-serif;
            color: #252525;
            font-size: 26px;
          }
        }
      }
      
      .image{
        padding-top: 15px;
        width: 100%;
        
        img{
          display: block;
          max-width: 100%;
          height: auto;
        }
      }
      
      .description{
        margin-bottom: 25px;
        
        p{
          margin: 0;
          font-family: "Open Sans", sans-serif;
          font-weight: 300;
          line-height: 27px;
          font-size: 16px;
          color: #555;
        }
      }
      
      span.stock{
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        color: #a1cc16;
      }
    }
    .button {
      background-color: rgb(100, 40, 255);
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 5px;
    }
    #heading{
        padding-left:10px;
    }
    
    #thumb{
        width:100px;
        height:100px;
    }
    #mytable{
        
        color: blue;
        
        padding-top: 15px;
        padding-left: 200px;
        padding-right: 200px;
        padding-bottom: 15px;
        border-radius:15px;
    }
    #padding{
        padding-left: 50px;
    }
    
    #main{
        background-color: #efefef;
    }
}