<h1>What We Have in Stock</h1>

<div class="play-container">
    <div class="card">
        <img src="https://i.imgur.com/fUwVjdB.jpg" alt="Lightsaber" style="width:100%">
        <div class="container">
            <h4><b>Darth Vader's Lightsaber</b></h4>
            <p>Screen Used Lightsaber from Empire Strikes Back, Used to cut off Luke's hand.</p>
            <button class="button">View Details</button>
            <p></p>
        </div>
    </div>

    <div class="card">
        <img src="https://i.imgur.com/1uPLeUp.jpg" alt="Lightsaber" style="width:100%">
        <div class="container">
            <h4><b>Captain America's Shield</b></h4>
            <p>It won't give you superpowers, but you can throw it like a boomerang.</p>
            <button class="button">View Details</button>
            <p></p>
        </div>
    </div>

    <div class="card">
        <img src="https://i.imgur.com/66w5EI4.jpg" alt="Lightsaber" style="width:100%">
        <div class="container">
            <h4><b>DeLorean Time Machine</b></h4>
            <p>Flux Capacitor not included</p>
            <button class="button">View Details</button>
            <p></p>
        </div>
    </div>
</div>