<h1>List of Products!</h1>

<div class="play-container">
    <div class="card">
        <img src="https://i.imgur.com/fUwVjdB.jpg" alt="Lightsaber" style="width:100%">
        <div class="container">
            <h4><b>Darth Vader's Lightsaber</b></h4>
            <p>Screen Used Lightsaber from Empire Strikes Back, Used to cut off Luke's hand.</p>
            <button class="button">View Details</button>
            <p></p>
        </div>
    </div>

    <div class="card">
        <img src="https://i.imgur.com/1uPLeUp.jpg" alt="Lightsaber" style="width:100%">
        <div class="container">
            <h4><b>Darth Vader's Lightsaber</b></h4>
            <p>Screen Used Lightsaber from Empire Strikes Back, Used to cut off Luke's hand.</p>
            <button class="button">View Details</button>
            <p></p>
        </div>
    </div>

    <div class="card">
        <img src="https://i.imgur.com/66w5EI4.jpg" alt="Lightsaber" style="width:100%">
        <div class="container">
            <h4><b>Darth Vader's Lightsaber</b></h4>
            <p>Screen Used Lightsaber from Empire Strikes Back, Used to cut off Luke's hand.</p>
            <button class="button">View Details</button>
            <p></p>
        </div>
    </div>
</div>