<div class = "bg">
    <div class="card">
        <div class="card__title">
        
        <h3></h3>
        </div>
        <div class="card__body">
        <div class="half">
            <div class="featured_text">
            <h2>Darth Vader's Lightsaber</h2>
            <p class="price">$21,000.00</p>
            </div>
            <div class="image">
            <img src="https://i.imgur.com/fUwVjdB.jpg" alt="">
            </div>
        </div>
        <div class="half">
                <p class="sub">From 'The Empire Strikes Back' (1980)</p>
            <div class="description">
            <p>DARTH VADER...DARTH VADER...DARTH VADER...DARTH VADER...DARTH VADER...DARTH VADER...DARTH VADER...DARTH VADER...DARTH VADER...DARTH VADER...DARTH VADER...(iS THIS PARAGRAPH LONG ENOUGH YET)</p>
            </div>
            <span class="stock"><i class="fa fa-pen"></i> In stock</span>
            <br>
            <br>
            <button class="button"> Bid Now! </button>
            
        </div>
        </div>
        
    </div>
  </div>